# BATABASE CONNECTION URL
DATABASE_URL=

# LEMON SQUEEZY KEYS
LEMONSQUEEZY_WEBHOOK_SECRET=
LEMONSQUEEZY_API_KEY=
LEMONSQUEEZY_STORE_ID=
WEBHOOK_URL=

# CLERK KEYS
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# RESEND KEYS
RESEND_API_KEY=

# AWS CREDENTIALS FOR IMAGE UPLOAD
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

# ADMIN PAGE AUTH
ADMIN_PAGE_USERNAME=admin
ADMIN_PAGE_PASSWORD=admin

# GEMINI API KEY
NEXT_PUBLIC_GEMINI_API_KEY=

# ANTHROPIC API KEY
NEXT_PUBLIC_ANTHROPIC_API_KEY=

